* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100dvh;
  background-color: #08080c;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #171717;
  height: 15vh;
}
header h1 {
  margin-left: 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(165, 1, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 36vh;
  padding: 3em 2em;

  background-color: #171717;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}
.login-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px red;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  margin-bottom: 1em;
  width: 95%;
}
input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
}

button {
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
  width: 100%;
}
button:hover {
  background-color: red;
  color: white;
}

label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  font-size: small;
}
a:hover {
  color: red;
}
