* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100dvh;
  background-color: #08080c;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #171717;
  height: 15vh;
}
header img {
  margin-left: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 36vh;
  padding: 3em 2em;

  background-color: #171717;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}
.login-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px red;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  margin-bottom: 1em;
  width: 95%;
}
input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
}

button {
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
  width: 100%;
}
.login-container button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

a {
  color: lightgray;
  font-size: small;
}
a:hover {
  color: red;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: #08080c;
  width: 12rem;
  padding: 2rem;
  height: 100%;
}

li {
  list-style: none;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.nav-button {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}
.nav-button:hover {
  color: red;
  cursor: pointer;
}

.nav-button.active {
  color: red;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  height: 16rem;
  width: 100%;
}

.footer p {
  color: lightgray;
  font-size: small;
}

/* To Do: Modify container background colors */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 64rem;
  height: 28rem;
  margin-top: 6rem;

  background-color: #171717;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}
.dashboard-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px red;
}
.dashboard-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

.large-dashboard-container {
  background-color: #000000;
  width: 80%;
  height: 85%;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgb(209, 17, 17);
}

.small-dashboard-container {
  background-color: rgb(0, 0, 0);
  width: 40%;
  height: 85%;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgb(209, 17, 17);
}
